.jardim-section {
    background: linear-gradient(180deg, #0C4F48, #318A84); /* Gradiente no fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    padding: 40px 0;
}

.logo-container {
    background: linear-gradient(45deg, rgba(226, 226, 226, 0.911), rgba(255, 255, 255, 0.74));
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
}

.logo {
    width: 250px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

p {
    max-width: 600px;
}
